{% extends 'base.html.twig' %}

{% block title %}INTOPDF - Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription à INTO<span>PDF</span></h1>

    <div class="generate_pdf">

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'class': 'form-url form-register', 'action': ''}}) }}
        {{ form_row(registrationForm.firstName, {
            label: false,
            attr: {
                placeholder: 'Prenom'
            }
        }) }}
        {{ form_row(registrationForm.lastName, {
            label: false,
            attr: {
                placeholder: 'Nom'
            }
        }) }}
        {{ form_row(registrationForm.email, {
            label: false,
            attr: {
                placeholder: 'E-mail'
            }
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: false,
            attr: {
                placeholder: 'Mot de Passe'
            }
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            attr: {
                class: 'form-check-input'
            },
            label: 'J\'ai lu et j\'accepte les conditions générales d\'utilisation'
        }) }}
        <div>
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}